{#
/**
 * @file
 * Template for a form element.
 */
#}
{%
  set classes = [
    'form-item',
    'js-form-item',
    'form-group',
    'form-type-' ~ type|clean_class,
    'js-form-type-' ~ type|clean_class,
    'form-item-' ~ name|clean_class,
    'js-form-item-' ~ name|clean_class,
    title_display not in ['after', 'before'] ? 'form-no-label',
    disabled == 'disabled' ? 'form-disabled',
    type == 'checkbox' ? 'checkbox',
    type == 'radio' ? 'radio'
  ]
%}
{%
  set description_classes = [
    'help-block',
    description_display == 'invisible' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}

  {% if prefix is not empty %}
    {{ prefix }}
  {% endif %}

  {% if description_display == 'before' and description.content %}
    <div{{ description.attributes }}>
      {{ description.content }}
    </div>
  {% endif %}

  {{ children }}

  {% if suffix is not empty %}
    {{ suffix }}
  {% endif %}

  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}

  {% if description_display in ['after', 'invisible'] and description.content %}
    <p{{ description.attributes.addClass(description_classes) }}>
      {{ description.content }}
    </p>
  {% endif %}
</div>
