{#
/**
 * @file
 * Theme override for a main view template.
 */
#}
{%
  set classes = [
    'view',
    'view--' ~ id|clean_class,
    'view--' ~ id|clean_class ~ '--' ~ display_id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view__header">
      <p>{{ header }}</p>
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view__filters view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="view__attachment view__attachment--before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="view__content">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view__empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="view__attachment view__attachment--after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    <div class="mt-2">
      {{ more }}
    </div>
  {% endif %}
  {% if footer %}
    <div class="view__footer">
      {{ footer }}
    </div>
  {% endif %}
</div>
