// Menu: Collapsible
// -----------------------------------------------------------------------------
.menu--collapsible {

  .panel {
    padding: 0;
  }

  .panel-group {
    margin: 0;
  }

  .panel-heading {

    .toggle-icon {

      &:after {
        content: "\f067";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        float: right;
        transition: transform .25s linear;
      }

      &[aria-expanded="true"] {

        &:after {
          content: "\f068";
          transform: rotate(180deg);
        }
      }

      &[aria-expanded="false"] {

        &:after {
          content: "\f067";
          transform: rotate(90deg);
        }
      }
    }
  }

  .panel--expanded {

    .toggle-icon {

      &:after {
        content: "\f068";
        transform: rotate(180deg);
      }
    }
  }

  .list-group-item {

    &--active {
      color: $brand-primary;
      background-color: $gray-lighter;
    }
  }
}
