{#
/**
 * @file
 * Theme override for a set of links.
 */
#}
<ul{{ attributes }}>
  {% for item in links %}
    <li{{ item.attributes }}>
      {%- if item.link -%}
        {{ item.link }}
      {%- elseif item.text_attributes -%}
        <span{{ item.text_attributes }}>{{ item.text }}</span>
      {%- else -%}
        {{ item.text }}
      {%- endif -%}
    </li>
  {% endfor %}
</ul>
