// Carousel
// -----------------------------------------------------------------------------
.carousel {
  opacity: 0;
  transition: opacity 1s ease-in;
  visibility: hidden;

  &.loaded {
    opacity: 1;
    visibility: visible;
  }

  .item {

    &:before {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    > a {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  .carousel-image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: no-repeat center / cover;
  }

  .carousel-caption {
    background: linear-gradient(-180deg, rgba(black, 0) 0%, rgba(black, .6) 100%);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 10px 10px;
    text-shadow: 0 1px 2px rgba(black, 0.8);

    @include breakpoint(sm) {
      padding: 0 30px 50px;
    }

    h3 {
      font-size: 2.2rem;
      font-family: $font-family-serif;
    }

    p {
      font-size: 1.4rem;
      max-width: 700px;
      margin: 1rem auto;
    }
  }

  .carousel-control {
    display: none;

    @include breakpoint(md) {
      display: block;
    }

    > i {
      display: inline-block;
      position: absolute;
      top: 40%;
      z-index: 5;
    }
  }
}
