// Responsive Tables
// -----------------------------------------------------------------------------

@media (max-width: $screen-sm) {
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}

@media (max-width: $screen-md) {
  th.priority-low,
  td.priority-low {
    display: none;
  }
}

table.table-borderless {
  border: none !important;

  td {
    border: none !important;
  }
}
