// Component: Jump links
// -----------------------------------------------------------------------------
.jump-links {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: $brand-primary;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  &__select {
    padding: 10px 15px;
    position: relative;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    i {
      position: absolute;
      right: 30px;
      top: 35%;
    }
  }

  a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    display: none;

    @include breakpoint(sm) {
      display: flex;
      padding: 1rem;
    }

    @include breakpoint(md) {
      padding: 1rem 2.4rem;
    }


    &:after {
      background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,hsla(0,0%,82%,.65) 50%,transparent) transparent;
      content: "";
      height: 100%;
      width: 1px;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    &:last-child {

      &:after {
        display: none;
      }
    }

    &:hover,
    &:focus {
      background-color: $brand-secondary;
      text-decoration: none;
    }

    i {
      font-size: 1.75rem;
      width: 100%;

      @include breakpoint(md) {
        margin-bottom: .5rem;
      }
    }
  }
}
