// Component: Photo grid
// -----------------------------------------------------------------------------
.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  > div {
    width: 49%;
    border: 3px solid transparent;

    &:hover {
      border-color: $brand-primary;
    }
  }

  a {
    display: block;
  }
}
