// Slice
// -----------------------------------------------------------------------------
.slice {
  padding: 3em 0;

  @include breakpoint(lg) {
    padding-top: 4em;
    padding-bottom: 4em;
  }

  &:nth-child(even) {
    background: #f9f9f9;
  }

  &__title {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__lead {
    font-size: 1.1rem;
    margin-top: 1rem;

    p {
      font-size: 1.1rem;
    }
  }

  &__content {
    margin-top: 2rem;
  }
}
