{#
/**
 * @file
 * Template for the header menu.
 */
#}
{%
  set menu_classes = [
  'menu',
  'menu--account',
  'menu--inline',
]
%}
<ul{{ attributes.addClass(menu_classes) }}>
  {% for item in items %}
    {%
      set item_classes = [
      item.in_active_trail ? 'active',
    ]
    %}
    <li{{ item.attributes.addClass(item_classes) }}>
      {% if item.below %}
        <div class="btn-group">
          <a href="{{ item.url }}" class="btn btn-default">{{ item.title }}</a>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {% for item in item.below %}
              <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <a href="{{ item.url }}" class="btn btn-default">{{ item.title }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
