{#
/**
 * @file
 * Template for slides field.
 */
#}
{% set id = 'carousel-' ~ random() %}
{% set classes = [
'carousel',
'slide',
] %}
<div{{ attributes.addClass(classes) }} data-ride="carousel" id="{{ id }}">

  {% if items|length > 1 %}
    <ol class="carousel-indicators">
      {% for item in items %}
        <li data-target="#{{ id }}" data-slide-to="{{ loop.index - 1 }}" {{ loop.index == 1 ? 'class="active"' }}></li>
      {% endfor %}
    </ol>
  {% endif %}

  <div class="carousel-inner">
    {% for item in items %}
      <div class="item {{ loop.index == 1 ? 'active' }}">
        {{ item.content }}
      </div>
    {% endfor %}
  </div>

  {% if items|length > 1 %}
    <a class="left carousel-control" href="#{{ id }}" data-slide="prev">
      <i class="fa fa-angle-left fa-2x"></i>
    </a>
    <a class="right carousel-control" href="#{{ id }}" data-slide="next">
      <i class="fa fa-angle-right fa-2x"></i>
    </a>
  {% endif %}
</div>


