// User: CiviCRM profile data
// -----------------------------------------------------------------------------
.civicrm-user-profile {
  margin-bottom: 15px;

  h3 {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: 15px;
  }

  .crm-container {
    padding-left: 15px;

    .crm-section {
      .label {
        width: 22%;
      }
      .content {
        margin-left: 25%;
      }
    }
  }
}
