{#
/**
 * @file
 * Template for the CiviCRM event page.
 */
#}
{% set container = 'fluid' %}
{% extends '@pangea/page/page.twig' %}
{% block content %}
  <div class="page__content">
    {{ page.content }}
  </div>
{% endblock %}
