{#
/**
 * @file
 * Template for the CiviCRM event page.
 */
#}
{% extends '@pangea/page/page.twig' %}
{% block content %}
  <div class="page__content">
    <div class="container">
      {{ page.content }}
    </div>
  </div>
{% endblock %}
